<div class="container text-center pb-5 d-grid gap-2 border-bottom border-4">
        <div>
            <h1 class="display-2 fw-bold m-0 p-0">{{page.title}}</h1>
        </div>
        <div>
            <svg class="" width="68" height="16" viewBox="0 0 68 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="8" fill="black" />
                <circle cx="33.6" cy="8" r="8" fill="black" />
                <circle cx="59.2" cy="8" r="8" fill="black" />
            </svg>
        </div>
        <div>
            <h5 class="h5 pt-3">Shiatsu - Life Coaching</h5>
        </div>
</div>