<nav class="sticky-top navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand fs-6 fw-bold" href="./">Magokoro Wellness</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html#about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="../../shiatsu">Life Coaching</a>
                        <a class="dropdown-item" href="../../life-coaching">Shiatsu</a>
                    </div>
                </li>
                <li class="nav-item ms-md-2 mt-2 mt-md-0">
                    <a class="nav-link btn btn-primary rounded fw-semibold" href="index.html#contact">Book Now</a>
                </li>
                
            </ul>
        </div>
  </div>
</nav>
