---
title: "サービス | {{page.title}}"
layout: default
---

<!-- title -->
<div class="container text-center d-grid gap-2 border-bottom border-4 pb-5">
    
    <div>
        <h1 class="display-2 fw-bold m-0 p-0">{{page.title}}</h1>
    </div>
    <div>
        <svg class="" width="68" height="16" viewBox="0 0 68 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8" cy="8" r="8" fill="black" />
            <circle cx="33.6" cy="8" r="8" fill="black" />
            <circle cx="59.2" cy="8" r="8" fill="black" />
        </svg>
    </div>
</div>

<!-- preface -->
<div class="container row mx-auto border-bottom border-4 pb-5">
    <div class="col-12 col-xl-6 my-xl-auto p-xl-3 pb-2">
        <h3 class="fw-bold">{{page.title}}とは</h3>
        <p>{{page.full}}</p>
    </div>
    <div class="col-12 col-xl-6 my-xl-auto">
        <div class="ratio ratio-4x3">
            <img class="object-fit-cover img-fluid" 
                src="{{ '/assets/img/' | page.img_dir | append: '/cover.jpg' | relative_url }}"
                alt="{{page.img_dir}}">
        </div>
    </div>
</div>

<!-- points -->
{% if page.points %}
<div class="container border-bottom border-4 pb-5">
    <!-- <h2 class="pb-3 text-center" >What are the benefits?</h2> -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
        {% for point in page.points %}
            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 row-cols-lg-2 g-1 g-lg-3">
                    <div class="col">
                        <div class="ratio ratio-1x1 ">
                            <img class="img-fluid object-fit-cover"
                                src="{{ '/assets/img/' | page.img_dir | append: '/' | append: point.img | relative_url }}"
                                alt="">
                        </div>
                    </div>
                    <div class="col align-self-center pt-lg-3">
                        <p class="text-center text-sm-start">{{point.txt}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- testimonials -->

<!-- flow, disclaimer-->
<div class="container d-grid border-bottom border-4 pb-5">
    <!-- flow -->
    <div class="row mx-auto">
        <div class="col-lg-4">
            <h2 class="fw-bold">Overall Flow</h2>
        </div>
        <div class="col-lg-8">
            <p class="pt-2">
                {{page.overall_flow}}
            </p>
        </div>
    </div>

    <!-- disclaimer -->
    <div class="accordion mt-4" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header fw-bold" id="heading">
          <button class="accordion-button bg-primary text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
            注意
          </button>
        </h2>
        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordion">
          <div class="accordion-body">
            <p>
                {% for disclaimer in page.disclaimers %}
                    {{disclaimer}} <br>
                {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
